@import 'node_modules/bootstrap/scss/bootstrap';

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 0.5fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card-container__no-cities {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;

  .card-container__no-cities_message {
    font-size: 3rem;
    font-weight: 700;
  }
}

.card-container__error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 3rem;
  font-weight: 700;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: $secondary;
  cursor: pointer;
  transition: transform 0.5s ease;

  &:hover,
  &:active {
    text-decoration: none;
    color: $dark;
    transform: scale(1.025);
  }
}
