@import 'node_modules/bootstrap/scss/bootstrap';

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: $secondary;
  cursor: pointer;
  transition: transform 0.5s ease;

  &:hover,
  &:active {
    text-decoration: none;
    color: $secondary;
    transform: scale(1.05);
  }
}
