@import 'node_modules/bootstrap/scss/bootstrap';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 320px;
  // height: 5rem;
  width: 100%;
  margin: 0;

  .header-time {
    font-size: 2rem;
  }
  .header-form {
    display: flex;
    flex-wrap: wrap;

    input {
      // width: 20rem;
      flex-basis: 1;
    }

    button {
      font-weight: 500;
      flex-basis: 1;
    }
  }
}
