@import 'node_modules/bootstrap/scss/bootstrap';

.full-weather-info-container {
  --chart-height: 100;
  width: 100%;
  // height: calc(var(--chart-height) * 1px);
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-left: 1px solid $secondary;
  border-right: 1px solid $secondary;
  padding-right: 3px;

  & div {
    height: calc(var(--value) * 1px);
    min-width: 1px;
    width: 100%;
    margin: 0 0 0 1px;
    cursor: pointer;
    text-align: center;

    & div {
      display: block;
      width: 100%;
      background-color: rgb(153, 204, 255);
      height: 2rem;

      &:last-child {
        background-color: white;
        padding-top: 0.5rem;
      }

      // @if (var(--temperature)) > 0 {
      //   background-color: red;
      // }
      // @if (var(--temperature)) < 0 {
      //   background-color: rgb(153, 204, 255);
      // }
    }
  }
}
